{% autoescape None %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <!-- make it look ok-ish on a phone -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <!-- Create a list of all available questions to switch to -->
    <form method="get">
    Switch to question:
    <select onchange="this.form.submit()" name="qNo">
    {% for i in user.availableQuestions() %}
        <option value="{{"%d"%(i)}}"{% if i == question.qNo %} selected="selected"{% end %}>Question {{"%d"%(i)}}</option>
    {% end %}

    </select>
    </form>

    <!-- Section for if the user has answered correctly -->
    {% if user.highestSolved >= question.qNo %}
        {% if justAnswered %}
            <p>CONGRATULATIONS, you found 99!</p>
        {% else %}
            <p>Question previously answered correctly!</p>
        {% end %}
        {{question.questionConclusion(user)}}
        {% if i != question.qNo %}
            <!-- If this wasn't the last question allowed to access, bring up a button to go straight to that one -->
            <form method="get">
                <button value="{{"%d"%(i)}}" name="qNo" onclick="this.form.submit()">Go to unanswered question</button>
            </form>
        {% end %}
    {% end %}

    <!-- input a new answer -->
    {{question.questionIntro(user)}}
    <form method="post">
        <b>f<sub>{{question.qNo}}</sub>( 
        <input type="number" name="A{{'" /> , <input type="number" name="A'.join("%d"%(x) for x in range(question.numInputs))}}" />
        ) = 99</b><br />
        <input type="submit" value="Submit answer" name="answer" />
    </form>

    <!-- previous results -->
    <table class="resultsTable" border="1">
        <colgroup>
            <col class="resultsColumn" />
            <col class="resultsInputColumn" span="{{question.numInputs}}" />
        </colgroup>
        <tr>
            <th>result</th>
            <th colspan="{{question.numInputs}}">inputs</th>
        </tr>
        {% for answer in user.getAnswers(question)[::-1] %}
        <tr{% if answer.correct %} class="correctRow"{%end%}>
            <td>{{answer.result}}</td>
            <td>{{"</td><td>".join("%d"%(x) for x in answer.inputs)}}</td>
        </tr>
        {% end %}
    </table>
</body>
</html>